* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.container {
    background: #ffffff;
    color: #fff;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/akshatkegradpa.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img{
    width: 100px;
}

.form {
    width: 100%;
    max-width: 350px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    text-align: center;
    transition: all 0.3s ease;
}

.form:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.6);
}

.form h2 {
    font-size: 26px;
    color: #1A2B49;
    background: #fff;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-weight: bold;
}

.form input {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #567DF4;
    color: #1A2B49;
    font-size: 16px;
    padding-left: 10px;
    transition: border-color 0.3s ease;
}

.form input:focus {
    border-bottom: 2px solid #fff;
    outline: none;
}

::placeholder {
    color: #bfbfbf;
}

.btnn {
    width: 100%;
    height: 45px;
    background: #567DF4;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.4s ease, color 0.4s ease;
    font-weight: bold;
}

.btnn:hover {
    background-color: #7292f2;
    color: #fff;
}

.form .link {
    font-size: 16px;
    margin-top: 15px;
    color: #bfbfbf;
}

.form .link a {
    color: #1A2B49;
    text-decoration: none;
    font-weight: bold;
}

.form .link a:hover {
    color: #567DF4;
}

.liw {
    margin-top: 15px;
    font-size: 14px;
    color: #1A2B49;
}

.icons {
    margin-top: 20px;
}

.icons a {
    text-decoration: none;
    color: #bfbfbf;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icons i {
    font-size: 32px;
    margin: 0 10px;
}

.icons i:hover {
    color: #567DF4; /* Hover color */
    transform: scale(1.2); /* Icon hover effect */
}