* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  background: #ffffff;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/akshatkegradpa.png"); 
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.img {
  width: 80px; 
}

.form {
  width: 100%;
  max-width: 600px;
  padding: 20px; 
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.3); 
}

.form:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.6); 
}

.form h2 {
  font-size: 22px; 
  color: #1A2B49;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  height: 35px; 
  margin-top: 10px; 
  background: transparent;
  border: none;
  border-bottom: 2px solid #567DF4;
  color: #1A2B49;
  font-size: 14px; 
  padding-left: 10px;
  transition: border-color 0.3s ease;
}

.form select {
  height: 40px;
}

.form textarea {
  height: 60px; 
  resize: none;
  padding-top: 5px;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  border-bottom: 2px solid #fff;
  outline: none;
}

::placeholder {
  color: #bfbfbf;
}

.btnn {
  width: 100%;
  height: 40px; 
  background: #567DF4;
  border: none;
  margin-top: 15px;
  font-size: 16px; 
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.4s ease, color 0.4s ease;
  font-weight: bold;
}

.btnn:hover {
  background-color: #7292f2;
  color: #fff;
}

.form .link {
  font-size: 14px;
  margin-top: 5px; 
  color: #bfbfbf;
}

.form .link a {
  color: #1A2B49;
  text-decoration: none;
  font-weight: bold;
}

.form .link a:hover {
  color: #567DF4;
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  color: #1A2B49;
}

.agreement input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.agreement label {
  font-size: 14px;
  color: #1A2B49;
  margin-top: 5px;
}

.liw {
  margin-top: 5px; 
  font-size: 14px;
  color: #1A2B49;
}